#  --------------------
# ( Managed by Ansible )
#  --------------------
#   o            .    .     .
#    o      .  . .     `  ,
#     o    .; .  : .' :  :  : .
#      o   i..`: i` i.i.,i  i .
#       o   `,--.|i |i|ii|ii|i:
#            UooU\.'@@@@@@`.||'
#            \__/(@@@@@@@@@@)'
#                 (@@@@@@@@)
#                 `YY~~~~YY'
#                  ||    ||

[general]
ssl_certificates_cnf_path={{ ssl_certificates_cnf_path|default(ssl_certificates_cnf_path_default) }}
ssl_certificates_crt_path={{ ssl_certificates_crt_path|default(ssl_certificates_crt_path_default) }}
ssl_certificates_key_path={{ ssl_certificates_key_path|default(ssl_certificates_key_path_default) }}
