RANDFILE = $ENV::HOME/.rnd

[ req ]
{% if item.bits is defined %}
default_bits = {{ item.bits }}
{% else %}
default_bits = {{ ssl_openssl_default_bits }}
{% endif %}
{% if item.key is defined %}
default_keyfile = {{ item.key }}
{% else %}
default_keyfile = {{ ssl_key_path }}/{{ item.CN }}.key
{% endif %}
distinguished_name = req_distinguished_name
attributes = req_attributes
prompt = no
{% if item.P is defined %}
output_password = {{ item.P }}
{% else %}
output_password = {{ ssl_openssl_default_P }}
{% endif %}


[ req_distinguished_name ]
C = {{ item.C }}
ST = {{ item.ST }}
L = {{ item.L }}
O = {{ item.O }}
OU = {{ item.OU }}
CN = {{ item.CN }}
emailAddress = {{ item.email }}


[ req_attributes ]
{% if item.P is defined %}
challengePassword = {{ item.P }}
{% else %}
challengePassword = {{ ssl_openssl_default_P }}
{% endif %}
